$grid-width: 1200px;
$grid-width-mobile: 960px;
$grid-width-mobile-xs: 552px;



@media(max-width: $grid-width){
    
}
@media(max-width: $grid-width-mobile){
    
}
@media(max-width: $grid-width-mobile-xs){
    
}
